@import '../../styles/mixins';
@import '../../styles/variables';

.basket-total-section {
  @include flex($direction: column, $justify: space-between);
  width: 350px;
  height: 120px;
  background-color: $sectionBackgroundColor;
  column-gap: 25px;
  border-radius: 30px;

  &__price {
    margin: 22px 22px 0 22px;
    font-weight: bold;
    @include flex($justify: space-between);
  }
  &__button {
    width: 100%;
    height: 65px;
    background-color: $black;
    color: $sectionBackgroundColor;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: $action;
    }
  }
}
