@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..900&display=swap');

@import './normalize.css';
@import './variables';
@import './mixins';

body {
  margin: 0;
  box-sizing: border-box;
  background-color: $primaryBackgroundColor;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  @include breakpoint-sm {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 10px;
  @include breakpoint-xs {
    padding: 0 5px;
  }
}
