@import './variables.scss';

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin breakpoint-xs {
  @media only screen and (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media only screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin breakpoint-md {
  @media only screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media only screen and (max-width: $breakpoint-lg) {
    @content;
  }
}
