@import '../../styles/variables';

.icon {
  transition: all 0.5s;

  &-logo {
    height: 22px;
    width: 85px;
    cursor: pointer;
  }
  &-favorites {
    height: 20px;
    width: 23px;
  }
  &-basket {
    height: 25px;
    width: 24px;
  }

  &-basket,
  &-favorites {
    fill: $gray;
    &:hover {
      fill: $action;
    }
  }
  &-vk {
    height: 21px;
    width: 31px;
  }
  &-telegram,
  &-whatsapp {
    height: 31px;
    width: 31px;
  }
  &-vk,
  &-telegram,
  &-whatsapp {
    fill: $black;
    &:hover {
      fill: $action;
    }
  }

  &-language {
    height: 20px;
    width: 20px;
  }
  &-star {
    height: 23px;
    width: 25px;
  }
  &-plus,
  &-minus {
    height: 30px;
    width: 30px;
    fill: $yellow;
    cursor: pointer;
    &:hover {
      fill: $action;
      scale: 1.1;
    }
  }
  &-delete {
    height: 17px;
    width: 21px;
    cursor: pointer;
    fill: $red;
    &:hover {
      fill: $action;
    }
  }
}
