@import '../../styles/variables';

.icon {
  transition: fill 0.5s;

  &-logo {
    height: 22px;
    width: 85px;
    cursor: pointer;
  }
  &-favorites {
    height: 20px;
    width: 23px;
  }
  &-basket {
    height: 25px;
    width: 24px;
  }

  &-basket,
  &-favorites {
    fill: $gray;
    &:hover {
      fill: $action;
    }
  }
  &-vk {
    height: 21px;
    width: 31px;
  }
  &-telegram,
  &-whatsapp {
    height: 31px;
    width: 31px;
  }
  &-vk,
  &-telegram,
  &-whatsapp {
    fill: $socialIcon;
    &:hover {
      fill: $action;
    }
  }

  &-language {
    height: 20px;
    width: 20px;
  }
  &-star{
    height: 23px;
    width: 25px;
  }
}
