@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.catalog-item {
  @include flex($direction: column, $justify: space-between, $align: center);
  padding: 33px 20px;
  height: 380px;
  width: 330px;
  min-width: 200px;
  background-color: $sectionBackgroundColor;
  border-radius: 30px;
  transition: scale 0.5s;

  @include breakpoint-lg {
    justify-self: end;
    &:nth-child(even) {
      justify-self: start;
    }
  }
  @include breakpoint-xs {
    justify-self: center;
    &:nth-child(even) {
      justify-self: center;
    }
  }

  @include breakpoint-lg {
    padding: 20px 25px;
  }

  @include breakpoint-sm {
    height: 270px;
    width: 210px;
  }

  &:hover {
    scale: 1.03;
  }

  img {
    max-width: 220px;
    @include breakpoint-sm {
      max-width: 170px;
    }
  }

  &__description {
    @include flex($justify: space-between);
    width: 100%;
  }

  &__price-buy-wrapper,
  &__title-rate-wrapper {
    @include flex($direction: column);
    gap: 25px;
  }

  &__title {
    font-weight: bold;
  }

  &__rate {
    @include flex($align: center);
    column-gap: 10px;
    color: $gray;
  }

  &__price {
    text-align: right;
    font-weight: bold;
    color: $action;
  }

  &__button {
    padding: 5px 0px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: $action;
    }
    //TODO пофиксить изменение цвета при дизабл
    &[disabled]:hover {
      cursor: default;
      color: rgba(16, 16, 16, 0.3);
    }
  }
}
