@import '../../styles//mixins.scss';
@import '../../styles//variables.scss';

.header {
  margin: 15px 0 40px;
  @include flex($justify: space-between);
  &__icons-wrapper {
    @include flex($justify: space-between, $align: center);
    column-gap: 45px;
    position: relative;
  }
  &__basket-count {
    background-color: $action;
    color: white;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 10px;
    text-align: center;
  }
}
