@import '../../styles/variables';
@import '../../styles/mixins';

.socials {
  @include flex($justify: space-between, $align: center);
  height: 35px;
  column-gap: 18px;

  &-item {
    list-style-type: none;
  }
}
