@import '../../styles/mixins';
@import '../../styles/variables';

.basket-item {
  @include flex;
  padding: 20px;
  margin-bottom: 15px;
  background-color: $sectionBackgroundColor;
  column-gap: 25px;
  border-radius: 30px;
  transition: scale 0.5s;

  @include breakpoint-sm {
    column-gap: 5px;
  }

  @include breakpoint-xs {
    margin-bottom: 10px;
    padding: 15px;
  }

  &:hover {
    scale: 1.03;
  }

  &__img-quantity-wrapper {
    @include flex($align: center, $direction: column);
    row-gap: 20px;
    @include breakpoint-sm {
      row-gap: 10px;
    }
    img {
      max-width: 140px;
      @include breakpoint-sm {
        max-width: 120px;
      }
    }
  }

  &__quantity {
    @include flex($justify: space-between, $align: center);
    width: 140px;
    font-weight: bold;
  }
  
  &__description {
    @include flex($direction: column, $justify: space-between);
    flex-grow: 1;
  }

  &__final-price,
  &__delete-button {
    align-self: flex-end;
  }

  &__title {
    margin-bottom: 12px;
  }
  &__price {
    font-size: 15px;
    color: gray;
  }
}
